

.container{
	display: flex;
}

.card{
	border-radius: 20px;
	margin-left: 10px;
	height: 200px;
	background-color: #fff;
	flex: 1;
	transition: .3s all ease;
}

 .card:hover{
 flex: 2;
 background-color: rgb(207, 207, 207);
 }
 
